.prod{
    margin-top: 20px  ;
    display:flex;

   
}
.container{
    margin-top: -20px;
    padding-left: 35px;

}
.detailContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;

}

.cont{
    
    text-align: center;
    padding-left:30px;
}
.options{
    width: 300px;
    margin-left: 80px;
    padding-left: 5px 10px;
}
