<!-- <div class="main-container"> -->
<div class="navcontainer">
  
    <a routerLink="home" >HOME</a>
    <a routerLink="about">ABOUT</a>
    <a routerLink="contact">CONTACT</a>
    <a routerLink="courses">COURSES</a>


  
</div>
  <!-- <app-nav></app-nav>
  <app-header></app-header>
  <app-search></app-search>
  <app-products></app-products>  -->

<div>
<!-- Online Course -->
<!-- <app-home></app-home> 
<app-about></app-about>
<app-contact></app-contact>
<app-course></app-course>
</div> -->
<router-outlet></router-outlet>
</div>
<!-- </div> -->